[submodule "Cloudflare Workers/Spotify Top Played Tracks"]
	path = Cloudflare Workers/Spotify Top Played Tracks
	url = https://github.com/emilpriver/Cloudflare-Workers-Spotify-most-played-song.git
[submodule "Netlify/weather-lambda"]
	path = Netlify/weather-lambda
	url = https://github.com/emilpriver/serverless-function-go-locale-weather.git
[submodule "Cloudflare Workers/Fetch Weather info based on runners information"]
	path = Cloudflare Workers/Fetch Weather info based on runners information
	url = https://github.com/emilpriver/Rust-API-weather-locale.git
[submodule "Cloudflare Workers/Image"]
	path = Cloudflare Workers/Image
	url = https://github.com/emilpriver/cloudflare-image-worker-resize-typescript.git
