[submodule "Cloudflare Workers/Spotify Top Played Tracks"]
	path = Cloudflare Workers/Spotify Top Played Tracks
	url = https://github.com/emilpriver/Cloudflare-Workers-Spotify-most-played-song.git
[submodule "Netlify/functions/weather-from-runner"]
	path = Netlify/functions/weather-from-runner
	url = https://github.com/emilpriver/serverless-function-go-locale-weather.git
